In [13]:
from fastai.tabular.all import *

pd.options.display.max_rows = 20
pd.options.display.max_columns = 8
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'

In [14]:
raw_data_path = 'data/filtered_95th_percentile_dialog.csv'
df = pd.read_csv(raw_data_path, encoding='unicode-escape')

,season,episode,scene,line_text,speaker,deleted
0,1,1,1,All right Jim. Your quarterlies look very good. How are things at the library?,Michael,False
1,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False
2,1,1,1,"So you've come to the master for guidance? Is this what you're saying, grasshopper?",Michael,False
3,1,1,1,"Actually, you called me in here, but yeah.",Jim,False
4,1,1,1,"All right. Well, let me show you how it's done.",Michael,False
...,...,...,...,...,...,...
55468,9,23,112,"It all seems so very arbitrary. I applied for a job at this company because they were hiring. I took a desk at the back because it was empty. But'[chuckles] no matter how you get there or where you end up, human beings have this miraculous gift to make that place home. [standing with two cops] Let's do this.",Creed,False
55469,9,23,113,I just feel lucky that I got a chance to share my crummy story with anyone out there who thinks they're the only one to take a dump in a paper shredder. You're not alone sister. Let's get a beer sometime.,Meredith,False
55470,9,23,114,I'm happy that this was all filmed so I can remember everyone and what we did. I worked for a paper company all these years and I never wrote anything down.,Phyllis,False
55471,9,23,115,"I sold paper at this company for 12 years. My job was to speak to clients on the phone about quantities and types of copier paper. Even if I didn't love every minute of it, everything I have, I owe to this job. This stupid,wonderful,boring,amazing job.",Jim,False
55472,9,23,116,I thought it was weird when you picked us to make a documentary. But all in all I think an ordinary paper company like Dunder Mifflin was a great subject for a documentary. There's a lot of beauty in ordinary things. Isn't that kind of the point?,Pam,False

In [15]:
raw_data_path = 'data/filtered_top_21_dialog.csv'
df = pd.read_csv(raw_data_path, encoding='unicode-escape')

,season,episode,scene,line_text,speaker,deleted
0,1,1,1,All right Jim. Your quarterlies look very good. How are things at the library?,Michael,False
1,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False
2,1,1,1,"So you've come to the master for guidance? Is this what you're saying, grasshopper?",Michael,False
3,1,1,1,"Actually, you called me in here, but yeah.",Jim,False
4,1,1,1,"All right. Well, let me show you how it's done.",Michael,False
...,...,...,...,...,...,...
52202,9,23,112,"It all seems so very arbitrary. I applied for a job at this company because they were hiring. I took a desk at the back because it was empty. But'[chuckles] no matter how you get there or where you end up, human beings have this miraculous gift to make that place home. [standing with two cops] Let's do this.",Creed,False
52203,9,23,113,I just feel lucky that I got a chance to share my crummy story with anyone out there who thinks they're the only one to take a dump in a paper shredder. You're not alone sister. Let's get a beer sometime.,Meredith,False
52204,9,23,114,I'm happy that this was all filmed so I can remember everyone and what we did. I worked for a paper company all these years and I never wrote anything down.,Phyllis,False
52205,9,23,115,"I sold paper at this company for 12 years. My job was to speak to clients on the phone about quantities and types of copier paper. Even if I didn't love every minute of it, everything I have, I owe to this job. This stupid,wonderful,boring,amazing job.",Jim,False
52206,9,23,116,I thought it was weird when you picked us to make a documentary. But all in all I think an ordinary paper company like Dunder Mifflin was a great subject for a documentary. There's a lot of beauty in ordinary things. Isn't that kind of the point?,Pam,False

In [17]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.15)
train21, test21 = train_test_split(df, test_size=0.15, random_state=23)

In [18]:
train.reset_index()
train21.reset_index()

,index,season,episode,scene,line_text,speaker,deleted
0,40169,7,24,8,[conducting interview] Your paper experience is very interesting. Do you think you could use that experience to inform decisions here?,Jim,False
1,48760,9,10,27,I'm not gonna lie. Lye!,Dwight,False
2,48544,9,9,27,Take a bowl and pass it down.,Dwight,False
3,12351,3,15,25,It's a miracle.,Dwight,False
4,34171,7,1,1,This is how you build a business. This is how you make it in this country.,Ryan,False
...,...,...,...,...,...,...,...
44370,9704,3,5,41,I don't know. It felt far.,Pam,False
44371,11190,3,10,43,"Excuse me [tries to take away meat with chopsticks] Ah, un guard. [Fights with chopsticks and laughs] Family style.",Michael,False
44372,26569,5,23,19,I never went to Thailand.,Ryan,False
44373,9256,3,4,1,"[breathless] All right. Okay. [goes back down pretend stairs, crawls on belly to the kitchen for the coffee]",Michael,False
44374,41555,8,4,47,"Hey everybody, I'm gonna leave and I just wanted to say I'm really sorry.",Andy,False

In [19]:
test.reset_index()
test21.reset_index()

,index,season,episode,scene,line_text,speaker,deleted
0,12517,3,16,29,"Don't hurt that bat, Creed! It's a living thing with feelings and a family!",Kelly,False
1,35796,7,7,27,"I cancelled my plans to come to this thing, and they repay me with this?",Kevin,False
2,43784,8,13,25,"Oh, yes. Oh, what a beautiful child. Prominent forehead, short arms, tiny nose. You will lead millions... [whispers] willingly, or as slaves.",Dwight,False
3,6928,2,17,18,Brad Pitt. Also there will be no bonuses.,Dwight,False
4,21497,5,4,32,"Okay, alright. Hey, you know what? I would appreciate it if people would stop storming off the stage.",Michael,False
...,...,...,...,...,...,...,...
7827,48078,9,7,32,Yeah.,Pam,False
7828,16285,4,3,25,Alright. Well fight it out amongst yourselves. I was thinking Pammy but boys night out is also good.,Michael,False
7829,36003,7,8,19,Rachel.,Kelly,False
7830,45649,8,21,19,[chuckling] Okay.,Andy,False
7831,4403,2,8,43,Next suggestion.,Dwight,True

In [20]:
from pathlib import Path
train_path = Path('data/train_shuffled.csv')
test_path = Path('data/test_shuffled.csv')
train21_path = Path('data/train21_shuffled.csv')
test21_path = Path('data/test21_shuffled.csv')

if not train_path.is_file():
    train.to_csv(train_path, encoding='utf-8', index=False)
if not test_path.is_file():
    test.to_csv(test_path, encoding='utf-8', index=False)
if not train21_path.is_file():
    train21.to_csv(train21_path, encoding='utf-8', index=False)
if not test21_path.is_file():
    test21.to_csv(test21_path, encoding='utf-8', index=False)